<main class="columns">
  <div class="submenu column is-2">
      <aside>
      サイドメニュー
      </aside>
  </div>
  <div class="column">
      ほんぶんんんんんんんほんぶんんんんんんんほんぶんんんんんんんほんぶんんんんんんんほんぶんんんんんんんほんぶんんんんんんん
  </div>
</main>
